@import '@fontsource/inter/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background: #000;
    /* fundo escuro puro */
    color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}